omegaconf==2.3.0
tqdm==4.66.4
pandas==2.1.4
einops==0.8.0
pandas==2.1.4
opencv-python==4.10.0.84
lpips==0.1.4
xarray==2024.1.1
matplotlib==3.8.2
rioxarray==0.15.0
#pyproj==3.0.1
cartopy==0.23.0
#pyresample==1.27.0
pyproj==3.6.1
shapely==2.0.1
pyresample==1.27.0
MetPy==1.6.3
scikit-learn==1.5.1
timm==0.6.11
mamba-ssm==1.2.0.post1
torchdiffeq==0.2.5
tensorboard==2.16.2
netCDF4==1.7.2
h5py==3.12.1
